{% extends "base_template.html" %}

{% block style %}
    <style>
        /* Set additional styling options for the columns*/
        .column {
        float: center;
        width: 50%;
        }

        .row:after {
        content: "";
        display: table;
        clear: both;
        }

        .padded {
            padding-right: 25%;
            padding-left: 25%;
        }
    </style>
{% endblock %}

{% block content %}
<div class="mxy-auto mt-5 pt-5">
    <div class="jumbotron text-center">
        <h1>Assign Items</h1>
    </div>   
    <br>
    <body>
        <div class="padded text-center">
            <div class="row">
                <div class="column">
                    <h2>Item</h2>
                    <select class="form-select" aria-label="select">
                        <option selected>Choose an item to assign</option>
                            <option value="1">SEAGRAMS</option>
                            <option value="2">BNLS CHOPS</option>
                            <option value="3">PLUG IN OIL</option>
                            <option value="4">ITCH CREAM</option>
                            <option value="5">FLOSS BAG</option>
                            <option value="6">TAX</option>
                    </select>
                    <!-- {% for item in item_list %}
                        <p>{{ item }}</p>
                        <button class="btn btn-lg btn-outline-secondary disabled" role="button">{{ item }}</button>
                    {% endfor %} -->
                </div>
                <div class="column">
                    <h2>Person</h2>
                    {% for name in name_list %}
                        <!-- <p>{{ name }}</p> -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                            <label class="form-check-label" for="flexCheckDefault">{{ name }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
    <br>
    <div class="text-center">
        <a href="/people/" class="btn btn-lg btn-outline-secondary" role="button">Back</a>
        <a href="/calculating/" class="btn btn-lg btn-outline-success" role="button">Calculate payments!</a>
    </div>
</div>
{% endblock %}