{% extends "base_template.html" %}

{% block style %}
    <style>
        /* Set additional styling options for the columns*/
        .column {
        float: center;
        width: 50%;
        }

        .row:after {
        content: "";
        display: table;
        clear: both;
        }

        .padded {
            padding-right: 25%;
            padding-left: 25%;
        }
    </style>
{% endblock %}

{% block content %}
<div class="mxy-auto mt-5 pt-5">
    <div class="jumbotron text-center">
        <h1>Assign Items</h1>
    </div>   
    <br>
    <body>
        <div class="padded text-center">
            <div class="row">
                <div class="column">
                    <h2>Item</h2>
                    {% for item in item_list %}
                        <p>{{ item }}</p>
                    {% endfor %}
                </div>
                <div class="column">
                    <h2>Person</h2>
                    {% for name in name_list %}
                        <p>{{ name }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
    <br>
    <div class="text-center">
        <a href="/people/" class="btn btn-lg btn-outline-secondary" role="button">Back</a>
        <a href="/calculating/" class="btn btn-lg btn-outline-success" role="button">Calculate payments!</a>
    </div>
</div>
{% endblock %}