{% extends "base_template.html" %}

{% block style %}
    <style>
        /* Set additional styling options for the columns*/
        .column {
        float: center;
        width: 50%;
        }

        .row:after {
        content: "";
        display: table;
        clear: both;
        }

        .padded {
            padding-right: 25%;
            padding-left: 25%;
        }
    </style>
{% endblock %}

{% block content %}
<div class="mxy-auto mt-5 pt-5">
    <div class="jumbotron text-center">
        <h1>Scan results</h1>
    </div>   
</div>
<br>
 <body>
    <div class="padded text-center">
        <img id = "output" width = 500>
        {% comment %} {% for listitem in list_ver %}
             <p>{{ listitem }}</p>
         {% endfor %} {% endcomment %}

        <div class="row">
            <div class="column">
                <h2>Item</h2>
                <p>SEAGRAMS</p>
                <p>BNLS CHOPS</p>
                <p>PLUG IN OIL</p>
                <p>ITCH CREAM</p>
                <p>FLOSS BAG</p>
                <p>TAX</p>
            </div>
            <div class="column">
                <h2>Price</h2>
                <p>2.60</p>
                <p>4.03</p>
                <p>14.94</p>
                <p>4.97</p>
                <p>3.84</p>
                <p>1.50</p>
            </div>
        </div>
        <script>
            var receipt_id = "{{ image.image.url }}"
            output.src = ""+receipt_id;
        </script>
    </div>
 </body>
 <br>
<div class="text-center">
    <a href="/people/" class="btn btn-lg btn-outline-success" role="button">Next</a>
</div>
{% endblock %}