{% extends "base_template.html" %}

{% block content %}

<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<title>
    Div-ice
</title>
<div style="width: 100%">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span style="padding-left:2%;">
            <a class="navbar-brand" href="/home/">Div-ice</a>
        </span>
        <span style="padding-right:2%">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/upload/">New Scan</a>
            </li>
          </ul>
        </div>
    </nav>
</div>
<div class="mxy-auto mt-5 pt-5">
    <div class="jumbotron text-center">
        <h1>Upload your receipt</h1>
        <br>
    </div>
    <div class="text-center">
        <label for="file" class="justify-content-center">Select a file:</label>
        <br> 
        <div class="justify-content-center mt-3">
            <span style="padding-left:10%;">
                <input type="file" accept=".jpeg,.png,.jpg" id="file" name="file" onchange="loadFile(event)">
            </span>
            <br>
            <img id="output" width="500" />
            <input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;">
        </div>
        <script>
            var loadFile = function (event) {
                var image = document.getElementById('output');
                image.src = URL.createObjectURL(event.target.files[0]);
                console.log(localStorage.getItem("image_name"));
                var test_string = "rohit";
                console.log("opened image " + test_string);
                localStorage.setItem("image_name", test_string);
            };
        </script>
    </div>
</div>
<br>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
<br>
<div class="text-center">
    <a href="/home/" class="btn btn-lg btn-outline-secondary" role="button">Back</a>
    <a href="/waiting/" class="btn btn-lg btn-secondary" role="button">Submit</a>
</div>

</html>

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image</title>
</head>
<body>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
</body>
</html>
-->

{% endblock %}