{% extends "base_template.html" %}

{% block content %}
<div class="mxy-auto mt-5 pt-5">
    <div class="jumbotron text-center">
        <h1>Scanning receipt...</h1>
        <div class="d-flex justify-content-center mt-5 pt-5">
            <div class="spinner-border text-secondary" style="width: 5rem; height: 5rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>   
    <div class="text-center mt-5">
        <a href="/home/" class="btn btn-lg btn-outline-secondary" role="button">Cancel Scan</a>
        <a href="/check/" class="btn btn-lg btn-success" role="button">to next page</a>
    </div>
</div>
{% endblock %}