{% extends "base_template.html" %}

{% block content %}
<div class="mxy-auto mt-5 pt-3">
    <div class="jumbotron text-center">
        <img src="../static/divicelogo.png" class="align-right" width="1000">
        <br>
        <h2 style="font-size: 40px">Helps settle the bill when things get wild.</h2>
    </div>
    <div class="text-center mt-5">
        <a class="btn btn-lg btn-outline-success" style="background-color: #a2d9d7" href="/upload/">Scan a receipt</a>
    </div>
</div>
{% endblock %}